@media screen and (min-width: 900px) {
  // for big screen
  .avatar-modal-container {
    position: fixed;
    right: 29px;
    top: 75px;
    background-color: white;
    box-shadow: 0px 2px 13px #88888888;
    z-index: 10;

    > div {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    > div:hover {
      color: rgb(155, 16, 219);
    }
  }
}

.avt-modal-opt-link-div {
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  text-decoration: none;
}

.avt-modal-opt-link-div:hover {
  color: rgb(155, 16, 219);
}

.avt-modal-opt-div {
  padding: 10px;
}

@media screen and (max-width: 900px) {
  // for small screen
  .avatar-modal-container {
    display: flex;
    flex-direction: column;
    width: 180px;

    > div {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    > div:hover {
      color: rgb(155, 16, 219);
    }
  }
}

.dialog-box-cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.425);
  box-shadow: 5px 10px #888888;
  overflow-x: auto;
}

.dialog-box {
  background-color: white;
  z-index: 10;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.dialog-box-head {
  font-weight: bolder;
  font-size: larger;
}
.img-pic-space {
  padding: 10px 0;
  width: 500px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.avt-prev {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 85%;

  > img {
    width: 160px;
    height: 160px;
  }
}
.dialog-box-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  > button {
    margin-left: 20px;
  }
}
